<div class="container ">
  <h1>Pokésir</h1>
  <div class="row">
    <div class="col-lg-6">
      <div ng-controller="PokemonCtrl1" class="row">

        <div class="form-group">
          <label>Id :</label>
          <input type="search" placeholder="search with Id" ng-model="searchId" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Name :</label>
          <input type="search" placeholder="search with Name" ng-model="searchName" class="form-control">
        </div>
        <div class="form-group">
          <select ng-model="selected" class="form-control">
            <option ng-repeat="x in allPokemons | filter : searchId | filter : searchName"
                    value="{{x.pokemon_species.name}}">
              {{x.pokemon_species.name}}
            </option>
          </select>
        </div>

        <!--<span>Vous avez choisi le pokémon :{{infowithoutLog}}</span>-->
      </div>
    </div>

    <div class="col-lg-6">
      <div ng-controller="PokemonCtrl2" class="row">

        <div class="col-lg-8 col-lg-offset-2">
          <h2>Pokemon choisi</h2>

          <h3> #Id: {{pokemon_structure.id}}</h3>
          <h3>Nom: <b>{{pokemon_structure.name}} </b></h3>

          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">Liste des attaques</div>
              <div class="panel-body">
                <ul ng-repeat="attaque in pokemon_structure.moves " class="list-group" style="padding: 0; margin: 0;">
                  <li class="list-group-item"> * {{attaque.move.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
